* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;

}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(76, 76, 209);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}